@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Dewebscraper.com biedt aan particuliere en professionele verkopers op de bol.com marketplace de mogelijkheid om permanent de koopblokpositie te veroveren op concurrenten</p>
