@page
@model ContactModel
@{
    ViewData["Title"] = "Contacteer me";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    dewebscraper.com<br />
    T. 0472/697959 <br />
    <a href="mailto:info@dewebscraper.com">info@dewebscraper.com</a><br />

</address>
