@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <img src="~/images/logo.jpg" alt="dewebscraper.com" width="300" class="img-responsive center" />
</div>

<div class="table-title">
    <h3>Data Table</h3>
</div>
<table class="table-fill">
    <thead>
        <tr>
            <th class="text-left">EAN</th>
            <th class="text-left">Omschrijving</th>
            <th class="text-left">Prijs</th>
            <th class="text-left">Koopblok</th>
        </tr>
    </thead>
    <tbody class="table-hover">
        <tr>
            <td class="text-left">1234567891111</td>
            <td class="text-left">buzz lightyear</td>
            <td class="text-left">250.00</td>
            <td class="text-left">ToyStore</td>
        </tr>
        <tr>
            <td class="text-left">1234567891111</td>
            <td class="text-left">buzz lightyear</td>
            <td class="text-left">250.00</td>
            <td class="text-left">ToyStore</td>
        </tr>
        <tr>
            <td class="text-left">1234567891111</td>
            <td class="text-left">buzz lightyear</td>
            <td class="text-left">250.00</td>
            <td class="text-left">ToyStore</td>
        </tr>
        <tr>
            <td class="text-left">1234567891111</td>
            <td class="text-left">buzz lightyear</td>
            <td class="text-left">250.00</td>
            <td class="text-left">ToyStore</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-md-3">
        <h2>bol.com marketplace</h2>
        <ul>
            <li>Verover het bol.com marketplace koopblok van je concurrenten</li>
            <li>
                
            </li>
        </ul>
    </div>
</div>
